.table-panel {
  .button-wrapper {
    margin-bottom: 20px;
  }
  .column-action {
    width: 30px;
    a {
      color: #ffffff;
      padding: 0 5px;
      display: inline-block;
      cursor: pointer;
    }
  }
}
